@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light defaults */
html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  color: #111111;
}

/* Dark mode when html has class="dark" */
.dark body {
  background: #000000;
  color: #ffffff;
}



/* html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; 
} */


html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 45px; 
}

/* Tablet */
@media (min-width: 640px) {
  html {
    scroll-padding-top: 40px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  html {
     scroll-behavior: smooth;
    scroll-padding-top: 70px;
  }
}

/* Desktop large */
@media (min-width: 1280px) {
  html {
     scroll-behavior: smooth;
    scroll-padding-top: 90px;
  }
}
